<style>
    .submit {
        margin-top: 20px;
    }
</style>


<nav class="nav-extended indigo darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo HotHotel center"><i class="material-icons large">beach_access</i>Hot Hotel &
            Spa</a>
        <ul class="right hide-on-med-and-down">

            <li><a class="waves-effect waves-light btn-large grey" href="#Reserve">Reserve Now</a></li>
        </ul>
    </div>
    <div class="container">


        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="/home?action=#test1">Overview</a></li>
                <li class="tab"><a href="/home?action=#Photos">Photos</a></li>
                <li class="tab"><a href="/maps">Map</a></li>
            </ul>
        </div>
    </div>
</nav>
{{!-- 
<div class="container">
    <div class="row">

        <form method="get" action="/payment">

        {{!-- <form class="col s12" action="/payment" method="post"> --}}
        <form class="col s12">

            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" name="firstname" type="text" class="validate">
                    <label for="first_name">First Name</label>

                </div>
                <div class="input-field col s6">
                    <input id="last_name" name="lastname" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
                <button class="btn waves-effect waves-light" id="client-submit" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
        </form>



 --}}



<div class="container">
    <h2 class="my-4 text-center">Book Your Room Now!</h2>
    <form action="/charge" method="POST" id="payment-form">
        <div class="form-row">
            <input type="text" name="first_name" id="firstName"
                class="form-control mb-3 StripeElement StripeElement--empty" placeholder="First Name">
            <input type="text" name="last_name" id="lastName"
                class="form-control mb-3 StripeElement StripeElement--empty" placeholder="Last Name">
            <input type="email" name="email" id="email" class="form-control mb-3 StripeElement StripeElement--empty"
                placeholder="Email Address">
            <div id="card-element" class="form-control">
                <!-- a Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors -->
            <div id="card-errors" role="alert"></div>
        </div>
        <button class="submit" id="submitPayment">Submit Payment</button>

    </form>
</div>










</div>
</div>




<script>

    // console.log("TEST");
    //console.log(req.query.beginDate);
    //console.log(req.query.endDate);
    // console.log(req.query.diffIndays); 

    $('#client-submit').on('click', function () {

        firstName = $("#firstName").val();
        lastName = $("#lastName").val();
        NumberofAdults = $("#email").val();

        var newClientInformation = {
            firstName: firstName,
            lastName: lastName,
            email: email,

        };

        database.ref().push(newClientInformation);
        // Logs everything to console
        console.log(newClientInformation.firstName);
        console.log(newClientInformation.lastName);
        console.log(newClientInformation.email);

    });



</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/payment.js"></script>


