<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        
        <div class="slider fullscreen">
            <ul class="slides">
                <li>
                    <img src="https://cdn.pursuitist.com/wp-content/uploads/2019/01/Four-Seasons-Seattle-Presidential-Suite4.jpg"> <!-- random image -->
                        <div class="caption center-align">
                        <h1 class="HotHotel"><i class="material-icons large">beach_access</i>Hot Hotel & Spa</h1>
                        <h3 class="light grey-text text-lighten-3 introText">Downtown Seattle</h3>
                <form method="get" action="/home">
                     <button class="btn waves-effect waves-light btn-large blue lighten-2" type="submit" name="action">Explore Today
                        <i class="material-icons right">hotel</i>
                    </button>
                </form>
        </div>
                </li>
      <li>
          
          <img src="https://media.cntraveler.com/photos/55c1398684775cba0a7b6b93/master/w_2048,h_1536,c_limit/four-seasons-seattle-outdoor-pool-sunset.jpg">
             <div class="caption left-align">
                <h3 class="introText">Arrive to Escape</h3>
                <h5 class="light grey-text text-lighten-3 introText">Several Relaxing Lounge Areas</h5>
                 <form method="get" action="/home">
                       <button class="btn waves-effect waves-light btn-large blue lighten-2" type="submit" name="action">Explore Today
                        <i class="material-icons right">hotel</i>
                    </button>
                    </form>
            </div>
      </li>
      <li>
        <img src="https://www.tripsavvy.com/thmb/724qtx98qqSdXjt2oHsxkYDNu9A=/2121x1414/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-553167387-586ebf0e5f9b584db3c86547.jpg"> <!-- random image -->

        
            <div class="caption right-align">
                <h3 class="introText">Arrive to Adventure</h3>
                <h5 class="light grey-text text-lighten-3 introText">Great trails and nature spots.</h5>
                    <form method="get" action="/home">
                        <button class="btn waves-effect waves-light btn-large blue lighten-2" type="submit" name="action">Explore Today
                            <i class="material-icons right">hotel</i>
                        </button>
                    </form>
            </div>
      </li>
      <li>
        <img src="http://seattlemag.com/sites/default/files/field/image/iStock-493238970.jpg">
         <div class="caption center-align">
                <h3 class="introText">Arrive to your Best Life</h3>
                    <form method="get" action="/home">
                        <button class="btn waves-effect waves-light btn-large blue lighten-2" type="submit" name="action">Explore Today
                            <i class="material-icons right">hotel</i>
                        </button>
                    </form>
            </div>
      </li>
    </ul>
  </div>


        


        


      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
 
 <script>
     
     $(document).ready(function(){
    $('.slider').slider();
  });
  
  </script>