<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        
        <div class="slider fullscreen">
            <ul class="slides">
                <li>
                    <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                        <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                <form method="get" action="/home">
                    <button type="submit">Explore Today</button>
                </form>
        </div>
                </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    <form method="get" action="/home">
                        <button type="submit">Explore Today</button>
                    </form>
            </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    <form method="get" action="/home">
                        <button type="submit">Explore Today</button>
                    </form>
            </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    <form method="get" action="/home">
                        <button type="submit">Explore Today</button>
                    </form>
            </div>
      </li>
    </ul>
  </div>


        


        


      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
 
 <script>
     
     $(document).ready(function(){
    $('.slider').slider();
  });
  
  </script>