<style>
  .submit {
    margin-top: 20px;
  }
</style>


<nav class="nav-extended indigo darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo HotHotel center"><i class="material-icons large">beach_access</i>Hot Hotel &
      Spa</a>
    <ul class="right hide-on-med-and-down">

      <li><a class="waves-effect waves-light btn-large grey" href="#Reserve">Reserve Now</a></li>
    </ul>
  </div>
  <div class="container">


    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="/home?action=#test1">Overview</a></li>
        <li class="tab"><a href="/home?action=#Photos">Photos</a></li>
        <li class="tab"><a href="/maps">Map</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <h3 class="my-4 text-center">Almost booked! Please Enter Your Payment Information</h3>
  <form action="/charge" method="POST" id="payment-form">
    <div class="form-row">
      <input type="text" name="firstName" id="firstName" class="form-control mb-3 StripeElement StripeElement--empty"
        placeholder="First Name">
      <input type="text" name="lastName" id="lastName" class="form-control mb-3 StripeElement StripeElement--empty"
        placeholder="Last Name">
      <input type="email" name="email" id="email" class="form-control mb-3 StripeElement StripeElement--empty"
        placeholder="Email Address">
      <input type="hidden" name="amountInDollars" value="{{totalCost}}" id="amountInDollars"
        data-stripe="amountInDollars">


      <div id="card-element" class="form-control">
        <!-- a Stripe Element will be inserted here. -->
      </div>
      <!-- Used to display form errors -->
      <div id="card-errors" role="alert"></div>
    </div>
    <button class="submit" value="{{totalCost}}" data-amount="{{totalCost}}" id="submitPayment">Submit Payment</button>

  </form>
</div>


</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/payment.js"></script>