{{!-- <footer class="page-footer"> --}}
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Check-In</h5>
                <input type="text" class="datepicker">
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Check-Out</h5>
                <input type="text" class="datepicker">
            </div>
        </div>
        <div class="input-field col l4 offset-l2 s12">
            <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
            <label>Number of Guest</label>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
{{!-- </footer> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{{!-- <script src="../public/js/reservationDeck.js"></script> --}}
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });

    $(document).ready(function () {
        $('select').formSelect();
    });
</script>