<h1>Rooms Page</h1>

</header>
<!-- Div container to hold content of app-->
<div class="container">

    <!-- Rendered Buttons will get dynamically populated in this view  -->
    <div id="RoomsAval"></div>

    <!-- form for submitting user input for creating new topics-->
</div>

<script language="JavaScript" type="text/javascript" src="/js/rooms.js"></script>