<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/styles/roomStyles.css" media="screen" title="no title" charset="utf-8">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<nav class="nav-extended indigo darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo HotHotel center"><i class="material-icons large">beach_access</i>Hot Hotel &
            Spa</a>
        <ul class="right hide-on-med-and-down">

          
        </ul>
    </div>
    <div class="container">


        <div class="nav-content">
            <ul class="tabs tabs-transparent">
               <li class="tab"><a href="/home?action=#test1">Overview</a></li>
                <li class="tab"><a href="/home?action=#Photos">Photos</a></li>
                <li class="tab"><a href="/maps">Map</a></li>
                 <li class="tab active"><a href="#">Reservation</a></li>
           
            </ul>
        </div>
    </div>
</nav>
{{!-- Reservation section for rooms --}}
  <ul class="collapsible">
    <li>
      <div class="collapsible-header grey lighten-2">
        <div class="row">
            <div class="col s12 stay left ">
              
            </div>
           
        </div>
    </div>
      <div class="collapsible-body"><span>
        
        

    <div class="row" id="Reserve">
      <h3>Let's get some dates</h3>
       <div class="divider"></div>
      <div class="col s3">
        <label>Check-in Date</label>
        <input type="text" class="datepicker" id="BeginDate" defaultDate="DEC">
      </div>

      <div class="col s3">
        <label>Check-Out Date</label>
        <input type="text" class="datepicker" id="EndDate">
      </div>
  
         <div class="input-field col s3">
            <select id="Adults">
            
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
    </select>
    <label>Number of Adults</label>
  </div>
        
      <div class="col s3">
          
        <form>
          <button class=" center btn waves-effect waves-light btn-large indigo darken-4" type="submit" name="action" id="DatesEdit">Edit
            <i class="material-icons right">check</i>
          </button>
        </form>
      </div>



    </div>    
        </span>
        </div>
    </li>
  
  





<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="container">

                <!-- Rendered Buttons will get dynamically populated in this view  -->
                <div id="RoomsAval">
                  {{#each rooms}}
                  <div class='card'>
                    
    <div class="card-image">
                    <img class ='activator' src='{{imgUrl}}'>
                  </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>INFO</p>
    </div>
  </div>

                  {{/each}}
                </div>

                <!-- form for submitting user input for creating new topics-->
            </div>


            {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> --}}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

            {{!-- <script src="/js/rooms.js"></script> --}}

<script>
$(document).ready(function () {
    $('.datepicker').datepicker();
  });

   $(document).ready(function(){
    $('.collapsible').collapsible();
  
  });

$('#DatesEdit').on('click', function() {
  $('.collapsible').collapsible('close');     
  });
 
$('#DatesEdit').on('click', function() {
      
      if($('#EndDate').val() === "" || $('#BeginDate').val() === "" || $('#Adults').val() === ""){
            // 'rounded' is the class I'm applying to the toast
          M.toast({html: 'Please complete first!', classes: 'rounded'});
      }
      else {

        BeginDate = $("#BeginDate").val();
        EndDate = $("#EndDate").val();
        NumberofAdults = $("#Adults").val();
        var BeginDateArr = BeginDate.split(/[\s,]+/);
        var EndDateArr = EndDate.split(/[\s,]+/);
        var CheckIn = moment().month(BeginDateArr[0]).date(parseInt(BeginDateArr[1])).year(parseInt(BeginDateArr[2]));
        var CheckOut = moment().month(EndDateArr[0]).date(parseInt(EndDateArr[1])).year(parseInt(EndDateArr[2]));
        var CheckInDate = CheckIn.format("DD/MM/YYYY");
        var CheckOutDate = CheckOut.format("DD/MM/YYYY");
  
      

        //console.log(BeginDate);
        //console.log(BeginDateArr);
        //console.log(CheckIn);
        //console.log(CheckInDate);

        //console.log(EndDate);
        //console.log(EndDateArr);
        //console.log(CheckOut);
        //console.log(CheckOutDate);
    
      

    var CheckInUTC = CheckIn.format();
    var CheckOutUTC = CheckOut.format();
    //console.log(CheckInUTC);
    
    var date1 = moment(CheckInUTC);
    var date2 = moment(CheckOutUTC);
    diffIndays = date2.diff(date1, 'days');
   
    
    //console.log(date1);
  
    
    

      

      for (var i = 0; i < diffIndays; i++){
       datecheckarr.push(moment(CheckInUTC).format("DD/MM/YYYY"));
      CheckInUTC = moment(CheckInUTC).add(1, 'day');
        //console.log(datecheckarr);
      }
    console.log(diffIndays);
    console.log(datecheckarr);
    console.log(BeginDate);
    console.log(EndDate);
    console.log(NumberofAdults);
      
 // Creates local "temporary" object for holding reservation data
      var newReservation = {
        BeginningDate: BeginDate,
        EndingDate: EndDate,
        NumberofNights: diffIndays,
        Adults: NumberofAdults,
        ArrayOfDates: datecheckarr 
      }
  // Uploads reservation data to the database
database.ref().push(newReservation);
// Logs everything to console
    console.log(newReservation.BeginningDate);
    console.log(newReservation.EndingDate);
    console.log(newReservation.NumberofNights);
    console.log(newReservation.Adults);
    console.log(newReservation.ArrayOfDates);
      
       
  };
 
     
    });
 


    
      
</script>
            