  <nav class="nav-extended indigo darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo HotHotel center"><i class="material-icons large">beach_access</i>Hot Hotel & Spa</a>
      <ul class="right hide-on-med-and-down">
       
        <li><a class="waves-effect waves-light btn-large grey">Reserve Now</a></li>
      </ul>
    </div>